#snake-box{
	position: relative;
	background: #ccc;
}
.snake{
	background: #f60 !important;
	position: absolute;
	width: 20px;
	height: 20px;
	border: solid 1px #fff;
	box-sizing: border-box;
}
.block{
	background: #ccc;
	width: 20px;
	height: 20px;
	position: absolute;
}